@import url("https://use.typekit.net/xxxxxxx.css");

html,
body {
  font-family: adobe-tamil, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: black;
  font-size: 20px;
}
.footer-text {
  font-family: calibri, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #263524;
  font-size: 14px;
}

.author {
  text-decoration: none !important;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}
.alink {
  font-size: 14px;
  font-weight: 600;
}

.alink {
  color: #263524;
}

.nav-link {
  color: #263524 !important;
}

.alink ul {
  float: left;
}

a,
a:hover {
  color: #263524;
}

.btn,
.btn:hover {
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
}

.meet-btn {
  background: white;
  padding: 3px 20px;
  color: #263524;
  border: 1px solid #263524;
  border-radius: 8px;
  text-transform: lowercase;
  font-weight: 500;
  margin: 0;
  font-size: 16;
}

.meet-btn:hover {
  color: #ffffff;
  background: #263524;
  border: 1px solid #263524;
  margin: 0;
}

.meet-btn:active {
  color: #263524;
  background: #4d6b49;
  border: 1px solid #263524;
  margin: 0;
}
.showcase-img {
  height: auto;
  width: 500px;
  margin-bottom: 5rem;
}
.logo-img {
  height: auto;
  width: 100px;
  margin-top: 2rem;
  margin-bottom: 7rem;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.center {
  text-align: center;
}

.centered-container {
  text-align: center;
}

.centered-container p {
  margin-bottom: 30px;
}

.homepage-footer {
  position: absolute;
  bottom: 2vh;
  left: 0;
  right: 0;
}

@media (max-width: 576px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .showcase-img {
    width: 300px; /* ie8 */
  }
  .logo-img {
    width: 50px; /* ie8 */
  }
}
